<div class="container">
  <div class="sidebar">
      <ul>
          <li>
              <a routerLink="home" (click)="home()">
                <i class="fas fa-home" style="padding-right: 10px;"> </i> Home
              </a>
            </li>
            <li>
              <a routerLink="time-table" (click)="timetable()">
                <i class="fas fa-calendar-alt" style="padding-right: 10px;"></i> Time Table
              </a>
            </li>
            <li>
              <a routerLink="students-management" (click)="studentsmanagement()">
                <i class="fas fa-user-graduate" style="padding-right: 10px;"></i> Students Management
              </a>
            </li>
            <li>
              <a routerLink="attendance-management" (click)="attendancemanagement()">
                <i class="fas fa-check-square" style="padding-right: 10px;"></i> Attendance Management
              </a>
            </li>
            <li>
              <a routerLink="question-bank" (click)="questionbank()">
                <i class="fas fa-book" style="padding-right: 10px;"></i> Question Bank
              </a>
            </li>
            <li>
              <a routerLink="ia-module" (click)="iamodule()">
                <i class="fas fa-tasks" style="padding-right: 10px;"></i> IA Module
              </a>
            </li>
            <li>
              <a routerLink="feedback-system" (click)="feedbacksystem()">
                <i class="fas fa-comments" style="padding-right: 10px;"></i> Feedback System
              </a>
            </li>
            <li>
              <a routerLink="lesson-plan" (click)="lessonplan()">
                <i class="fas fa-file-alt" style="padding-right: 10px;"></i> Lesson Plan
              </a>
            </li>
            <li>
              <a routerLink="teaching-aids" (click)="teachingaids()">
                <i class="fas fa-chalkboard-teacher" style="padding-right: 10px;"></i> Teaching Aids
              </a>
            </li>
            <li>
              <a routerLink="personal-documents" (click)="personaldocuments()">
                <i class="fas fa-folder" style="padding-right: 10px;"></i> Personal Documents
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <i class="fas fa-sign-out-alt" style="padding-right: 10px;"></i> Logout
              </a>
            </li>
      </ul>
  </div>
  <div class="content">
    <h2><b>Personal Documents</b></h2>
    <br>
    <form [formGroup]="documentUploadForm" (ngSubmit)="submitForm()" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
             
              <h3 class="card-title"><b>Select Document Type</b></h3>
          
              <select formControlName="documentType" class="form-control mb-3" required>
                <option value="">Choose a document...</option>
                <option value="examquestionpaper">Exam Question Papers</option>
                <option value="iaquestionpaper">IA Question Papers</option>
                <option value="projectmanagement">Project Management Documents</option>
                <option value="deptreports">Departmental Reports/Records</option>
              </select>
              <div class="custom-file mb-3">
                <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="documentFile" accept="image/*,application/pdf" required>
                <!-- <label class="custom-file-label" for="documentFile">Choose file</label> -->
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Upload Document</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  
    <!-- Uploaded Documents Section -->
    <div id="uploadedDocuments" class="mt-5">
      <h4><b>Uploaded Documents:</b></h4>
      <div id="documentsList" class="row mt-3">
        <div *ngFor="let document of uploadedDocuments" class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ document.fileName }}</h5>
              <p class="card-text">{{ document.documentType }}</p>
              <button (click)="viewDocument(document.fileData, document.documentType)" class="btn btn-secondary">View Document</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>



    