
<div class="container">
    <div class="sidebar">
        <ul>
            <li>
                <a routerLink="home" (click)="home()">
                  <i class="fas fa-home" style="padding-right: 10px;"> </i> Home
                </a>
              </li>
              <li>
                <a routerLink="time-table" (click)="timetable()">
                  <i class="fas fa-calendar-alt" style="padding-right: 10px;"></i> Time Table
                </a>
              </li>
              <li>
                <a routerLink="students-management" (click)="studentsmanagement()">
                  <i class="fas fa-user-graduate" style="padding-right: 10px;"></i> Students Management
                </a>
              </li>
              <li>
                <a routerLink="attendance-management" (click)="attendancemanagement()">
                  <i class="fas fa-check-square" style="padding-right: 10px;"></i> Attendance Management
                </a>
              </li>
              <li>
                <a routerLink="question-bank" (click)="questionbank()">
                  <i class="fas fa-book" style="padding-right: 10px;"></i> Question Bank
                </a>
              </li>
              <li>
                <a routerLink="ia-module" (click)="iamodule()">
                  <i class="fas fa-tasks" style="padding-right: 10px;"></i> IA Module
                </a>
              </li>
              <li>
                <a routerLink="feedback-system" (click)="feedbacksystem()">
                  <i class="fas fa-comments" style="padding-right: 10px;"></i> Feedback System
                </a>
              </li>
              <li>
                <a routerLink="lesson-plan" (click)="lessonplan()">
                  <i class="fas fa-file-alt" style="padding-right: 10px;"></i> Lesson Plan
                </a>
              </li>
              <li>
                <a routerLink="teaching-aids" (click)="teachingaids()">
                  <i class="fas fa-chalkboard-teacher" style="padding-right: 10px;"></i> Teaching Aids
                </a>
              </li>
              <li>
                <a routerLink="personal-documents" (click)="personaldocuments()">
                  <i class="fas fa-folder" style="padding-right: 10px;"></i> Personal Documents
                </a>
              </li>
              <li>
                <a (click)="logout()">
                  <i class="fas fa-sign-out-alt" style="padding-right: 10px;"></i> Logout
                </a>
              </li>
        </ul>
    </div>
    
    <div class="content">
      <h2>UPLOAD TEACHING-AIDS</h2>
      
      <select [(ngModel)]="selectedDocumentType">
        <option value="" disabled>Choose a Document...</option>
        <option value="pdf">PDF</option>
        <option value="excel">Excel</option>
        <option value="word">Word</option>
        <option value="image">Image</option>
        <option value="ppt">PowerPoint</option>
      </select>
  
      <input type="file" (change)="onFileChange($event)" />

<select [(ngModel)]="selectedFileName" (change)="onFileSelect()">
  <option value="" disabled>Select the file to Download</option>
  <option *ngFor="let file of fileList" [value]="file">{{ file }}</option>
</select>
  
      <button (click)="downloadSelectedFile()">Download Selected File</button>
      
      <!-- <div class="upload">
        <h4>Uploaded Files:</h4>
        <table>
          
         
            <tr *ngFor="let file of fileList">
              <td>{{ file }}</td>
              
          </tr>
          <div *ngIf="fileList.length === 0" class="no-docs-message">
            No documents found.
          </div>
        </table>
      </div> -->
    </div>
  </div>