


.container-fluid,
.row.no-gutters {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgba(0, 213, 255, 1);
}


.sidebar {
  min-height: 100vh; 
  background-color: #343a40; 
  padding-top: 20px;
}



.sidebar .nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link i {
  padding-right: 10px;
}

.sidebar .nav-link:hover {
  background-color: #444;
  color: #ffcc00;
}


.main-content {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  margin-top: 20px; 
  overflow-y: auto; 
  /* border: 2px solid #343a40; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

h2 {
  color: #343a40;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-control {
  max-width: 400px; 
}

button {
  width: fit-content; 
  margin-right: 10px;
}

@media (max-width: 768px) {
  
  .sidebar {
    display: none;
    position: fixed;
    z-index: 1000;
  }

  .sidebar.show {
    display: block;
  }

   
  .main-content {
    margin-left: 0;
    padding: 10px;
  }
}
