



.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px; 
  background-color: #222;
  color: #fff;
  padding-top: 20px;
  transition: width 0.75s ease;
  overflow-y: auto; 
}

.sidebar .nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link i {
  padding-right: 10px;
}

.sidebar .nav-link:hover {
  background-color: #444;
  color: #ffcc00;
}




 .page-wrapper {
  background-color: hsl(323, 44%, 49%);  
  min-height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-content {
  border: 2px solid #0d0d0e;
  border-radius: 10px;
  background-color: hwb(320 93% 5%);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
 margin-left: 300px;
 animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-size: 1.8rem;
  color: #0d0f11;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #0d1013;
}

.form-control {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button.btn {
  background-color: hsl(323, 44%, 49%);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  display: block; 
  margin: 20px auto; 
  text-align: center; 
}

button.btn:hover {
  background-color: #218838;}


