


  <!-- sidebar-layout.component.html -->
<div class="container">
    <div class="sidebar">
        <ul>
            <li>
                <a routerLink="home" (click)="home()">
                  <i class="fas fa-home" style="padding-right: 10px;"> </i> Home
                </a>
              </li>
              <li>
                <a routerLink="time-table" (click)="timetable()">
                  <i class="fas fa-calendar-alt" style="padding-right: 10px;"></i> Time Table
                </a>
              </li>
              <li>
                <a routerLink="students-management" (click)="studentsmanagement()">
                  <i class="fas fa-user-graduate" style="padding-right: 10px;"></i> Students Management
                </a>
              </li>
              <li>
                <a routerLink="attendance-management" (click)="attendancemanagement()">
                  <i class="fas fa-check-square" style="padding-right: 10px;"></i> Attendance Management
                </a>
              </li>
              <li>
                <a routerLink="question-bank" (click)="questionbank()">
                  <i class="fas fa-book" style="padding-right: 10px;"></i> Question Bank
                </a>
              </li>
              <li>
                <a routerLink="ia-module" (click)="iamodule()">
                  <i class="fas fa-tasks" style="padding-right: 10px;"></i> IA Module
                </a>
              </li>
              <li>
                <a routerLink="feedback-system" (click)="feedbacksystem()">
                  <i class="fas fa-comments" style="padding-right: 10px;"></i> Feedback System
                </a>
              </li>
              <li>
                <a routerLink="lesson-plan" (click)="lessonplan()">
                  <i class="fas fa-file-alt" style="padding-right: 10px;"></i> Lesson Plan
                </a>
              </li>
              <li>
                <a routerLink="teaching-aids" (click)="teachingaids()">
                  <i class="fas fa-chalkboard-teacher" style="padding-right: 10px;"></i> Teaching Aids
                </a>
              </li>
        </ul>
    </div>
    <div class="content">
        <h1>Welcome to the Home Page</h1>
        <p>This is the content area of the home page. You can add text, images, or other elements here.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum, nisi nec aliquam aliquet, erat nunc dapibus leo, nec cursus orci metus ac libero. Curabitur ut cursus elit. Sed aliquam diam ut velit gravida, sed elementum purus facilisis.</p>
        <p>Feel free to modify this area as per your needs!</p>
    </div>
</div>
