<div class="container org-chart">
  <!-- HOD Section -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="node">HOD</div>
    </div>
  </div>

  <!-- Line connecting HOD to staff -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="line-horizontal"></div>
    </div>
  </div>

  <!-- 6 Staff under HOD in the Same Row -->
  <div class="row justify-content-center">
    <div *ngFor="let member of staff" class="col-2">
      <div class="line-vertical"></div>
      <div class="node">{{ member }}</div>
      <div class="line-vertical"></div>
    </div>
  </div>
</div>
