<!-- <!-- 


<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">CHANGE PASSWORD</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <label for="changeEmail">Email:</label>
              <input type="email" id="changeEmail" class="form-control form-control-lg" [(ngModel)]="changePasswordData.email" name="changeEmail" required />
            </div>

            

            <div data-mdb-input-init class="form-outline form-white mb-4">
              <label for="oldPassword">Old Password:</label>
              <input type="password" id="oldPassword" class="form-control form-control-lg" [(ngModel)]="changePasswordData.oldPassword" name="oldPassword" required />
            </div>

            <div data-mdb-input-init class="form-outline form-white mb-4">
              <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" class="form-control form-control-lg" [(ngModel)]="changePasswordData.newPassword" name="newPassword" required />
              </div>
            </div>


           

            <button class="btn btn-primary btn-lg btn-block w-100 mb-4" type="submit" (click)="onChangePasswordSubmit()">Change Password</button>
            <button class="btn btn-danger btn-lg btn-block w-100 mb-4" type="submit"  (click)="navigateToLogin()">Cancel</button>


          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <div class="container-fluid">
  <div class="row no-gutters">
   
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="sidebarMenu">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a routerLink="/home" routerLinkActive="active" (click)="home()" class="nav-link text-white">
              <i class="bi bi-house mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/time-table" routerLinkActive="active" (click)="timetable()" class="nav-link text-white">
              <i class="bi bi-calendar3 mr-2"></i> Time Table
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/students-management" routerLinkActive="active" (click)="studentsmanagement()" class="nav-link text-white">
              <i class="bi bi-person-workspace mr-2"></i> Students Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/attendance-management" routerLinkActive="active" (click)="attendancemanagement()" class="nav-link text-white">
              <i class="bi bi-check-square mr-2"></i> Attendance Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/question-bank" routerLinkActive="active" (click)="questionbank()" class="nav-link text-white">
              <i class="bi bi-book mr-2"></i> Question Bank
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/ia-module" routerLinkActive="active" (click)="iamodule()" class="nav-link text-white">
              <i class="bi bi-card-list mr-2"></i> IA Module
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/feedback-system" routerLinkActive="active" (click)="feedbacksystem()" class="nav-link text-white">
              <i class="bi bi-chat-dots mr-2"></i> Feedback System
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/lesson-plan" routerLinkActive="active" (click)="lessonplan()" class="nav-link text-white">
              <i class="bi bi-file-earmark-text mr-2"></i> Lesson Plan
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/teaching-aids" routerLinkActive="active" (click)="teachingaids()" class="nav-link text-white">
              <i class="bi bi-easel mr-2"></i> Teaching Aids
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/personal-documents" routerLinkActive="active" (click)="personaldocuments()" class="nav-link text-white">
              <i class="bi bi-folder mr-2"></i> Personal Documents
            </a>
          </li>
          <li class="nav-item mb-3">
            <a (click)="logout()" class="nav-link text-white">
              <i class="bi bi-box-arrow-right mr-2"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>

    
    
      
    

     
    
    
   
    <main class="col-md-9 col-lg-10 px-4 pt-4 main-content">
      <h2 class="text-center">UPLOAD TEACHING-AID DOCUMENTS</h2>

      <div class="form-group row mb-0">
        <label for="semester" class="col-sm-5 col-form-label p-0 m-0">Semester:</label>
        <div class="col-sm-7 p-0">
          <select [(ngModel)]="selectedSemester" class="form-control mb-3" id="semester" (change)="onSemesterChange()">
            <option value="" disabled>Select Sem...</option>
            <option value="sem1">Sem 1</option>
            <option value="sem2">Sem 2</option>
            <option value="sem3">Sem 3</option>
            <option value="sem4">Sem 4</option>
            <option value="sem5">Sem 5</option>
            <option value="sem6">Sem 6</option>
          </select>
        </div>
      </div>

      
     
      <div class="form-group row mb-0">
        <label for="documentType" class="col-sm-5 col-form-label p-0 m-0">Document Type:</label>
        <div class="col-sm-7 p-0">
          <select [(ngModel)]="selectedDocumentType" class="form-control mb-3" id="documentType">
            <option value="" disabled>Choose a Document...</option>
            <option value="pdf">PDF</option>
            <option value="excel">Excel</option>
            <option value="word">Word</option>
            <option value="image">Image</option>
            <option value="ppt">PowerPoint</option>
          </select>
        </div>
      </div>
    
     
      <input type="file" (change)="onFileChange($event)" class="form-control mb-3" />
    
      
      <div class="form-group">
        
        <select [(ngModel)]="selectedFileName" (change)="onFileSelect()" class="form-control mb-3">
          <option value="" disabled>Select the file to view</option>
          <option *ngFor="let file of fileList" [value]="file">{{ file }}</option>
        </select>
      </div>
      
      
      <button (click)="downloadSelectedFile()" class="btn btn-primary mb-3">Download Selected File</button>
    
      
      <div class="mt-4">
        <h3>Uploaded Documents</h3>

        


        <ul class="list-group">
          <li *ngFor="let file of fileList" class="list-group-item">
            <a 
              [href]="getFileDownloadUrl(file)" 
              target="_blank" 
              class="text-primary" 
              (click)="viewDocument(file)"
              >
              {{ file }}
            </a>
          </li>
        </ul>
        


       
      </div>
    </main>
      -->

    

 
  

<!-- <div>
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls">
</div>

<div *ngIf="excelData">
  <h3>Uploaded Data:</h3>
  <pre>{{ excelData | json }}</pre>
</div> -->


<!-- <div class="container" *ngIf="flag">
<input (change)="selectFile($event)" type="file"/>
<button (click)="uploadFile()" class="btn" mat-raised-button>Upload</button>
</div> -->

<div class="container">
  <h3 class="text-primary text-center">Angular file upload | download example</h3><hr/>
</div>


<div class="container">

  <label class="">UserName</label> <input class="form-control" type="text" [(ngModel)]="userName"/>
  <input class="form-control" type="file"
  (change)="onFileSelected($event)"
  />
  <button (click)="save()" class="btn btn-primary">Save</button>

<div class="row">
  <div class="col-sm-6 col-md-3" *ngFor="let user of userList">
      <div class="card text-center" style="width: 200px;height: 200px;margin-bottom: 50px;">
        <img class="card-img-top rounded-circle" style="width: 100%;height: 100%;object-fit: cover;" [src]="'data:image/png;base64,'+user.displayPicture" alt="Title" />
        <div class="card-body">
          <h4 class="card-title">{{user.userName}}</h4>
        </div>
      </div>
  </div>
</div>
</div>
