<!-- <div class="timetable">
  <h2>Weekly Timetable</h2>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timing of timings">
        <td>{{ timing }}</td>
        <td>{{ timetable['Monday'][timings.indexOf(timing)] || 'Free' }}</td>
        <td>{{ timetable['Tuesday'][timings.indexOf(timing)] || 'Free' }}</td>
        <td>{{ timetable['Wednesday'][timings.indexOf(timing)] || 'Free' }}</td>
        <td>{{ timetable['Thursday'][timings.indexOf(timing)] || 'Free' }}</td>
        <td>{{ timetable['Friday'][timings.indexOf(timing)] || 'Free' }}</td>
        <td>{{ timetable['Saturday'][timings.indexOf(timing)] || 'Free' }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="content">
  <h2>Upload and Download Files</h2>

  <input type="file" (change)="onFileChange($event)" />
  

  <select [(ngModel)]="selectedFileName" (change)="onFileSelect()">
      <option *ngFor="let file of fileList" [value]="file">{{ file }}</option>
     
  </select>
  <button (click)="downloadSelectedFile()">Download Selected File</button>
</div>


