<div class="container-fluid">
  <div class="row no-gutters">
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="sidebarMenu">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a
              routerLink="/home"
              routerLinkActive="active"
              (click)="home()"
              class="nav-link text-white"
            >
              <i class="bi bi-house mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/time-table"
              routerLinkActive="active"
              (click)="timetable()"
              class="nav-link text-white"
            >
              <i class="bi bi-calendar3 mr-2"></i> Time Table
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/staff-management"
              routerLinkActive="active"
              (click)="staffmanagement()"
              class="nav-link text-white"
            >
              <i class="bi bi-person-fill mr-2"></i> Staff Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/students-management"
              routerLinkActive="active"
              (click)="studentsmanagement()"
              class="nav-link text-white"
            >
              <i class="bi bi-person-workspace mr-2"></i> Students Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/attendance-management"
              routerLinkActive="active"
              (click)="attendancemanagement()"
              class="nav-link text-white"
            >
              <i class="bi bi-check-square mr-2"></i> Attendance Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/question-bank"
              routerLinkActive="active"
              (click)="questionbank()"
              class="nav-link text-white"
            >
              <i class="bi bi-book mr-2"></i> Question Bank
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/ia-module"
              routerLinkActive="active"
              (click)="iamodule()"
              class="nav-link text-white"
            >
              <i class="bi bi-card-list mr-2"></i> IA Module
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/feedback-system"
              routerLinkActive="active"
              (click)="feedbacksystem()"
              class="nav-link text-white"
            >
              <i class="bi bi-chat-dots mr-2"></i> Feedback System
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/lesson-plan"
              routerLinkActive="active"
              (click)="lessonplan()"
              class="nav-link text-white"
            >
              <i class="bi bi-file-earmark-text mr-2"></i> Lesson Plan
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/subject-management"
              routerLinkActive="active"
              (click)="subjectmanagement()"
              class="nav-link text-white"
            >
              <i class="bi bi-journal mr-2"></i> Subject Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/teaching-aids"
              routerLinkActive="active"
              (click)="teachingaids()"
              class="nav-link text-white"
            >
              <i class="bi bi-easel mr-2"></i> Teaching Aids
            </a>
          </li>
          <li class="nav-item mb-3">
            <a
              routerLink="/personal-documents"
              routerLinkActive="active"
              (click)="personaldocuments()"
              class="nav-link text-white"
            >
              <i class="bi bi-folder mr-2"></i> Personal Documents
            </a>
          </li>
          <li class="nav-item mb-3">
            <a (click)="logout()" class="nav-link text-white">
              <i class="bi bi-box-arrow-right mr-2"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="page-wrapper" style="background-image: url(./attendance.webp)">
      <main class="col-md-9 col-lg-10 px-4 pt-4 main-content">
        <h2 class="text-center">ATTENDANCE MANAGEMENT</h2>

        <!-- Semester Selection Dropdown -->
        <div class="form-group">
          <label for="semester">Select Semester:</label>
          <select
            [(ngModel)]="selectedSemester"
            name="semester"
            id="semester"
            class="form-control"
            (change)="onSemesterChange()"
          >
            <option value="" disabled selected>Select Semester</option>
            <option *ngFor="let sem of semesters" [value]="sem">
              {{ sem }}
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="subject" class="form-label">Subject:</label>
          <select
            [(ngModel)]="selectedSubject"
            name="subject"
            class="form-control"
            required
            [disabled]="!selectedSemester || loadingSubjects"
          >
            <option value="" disabled>Select Subject</option>
            <option *ngFor="let subject of subjects" [value]="subject.subject">
              {{ subject.subject }} ({{ subject.subjectCode }})
            </option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="month" class="form-label">Month :</label>
          <select
            [(ngModel)]="selectedMonth"
            name="month"
            class="form-control"
            required
            [disabled]="!selectedSemester"
          >
            <option value="" disabled>Select Month</option>
            <option *ngFor="let month of months" [value]="month">
              {{ month }}
            </option>
          </select>
        </div>

        <!-- File Input -->
        <div class="form-group">
          <label for="fileInput">Upload Attendance Document:</label>
          <input
            type="file"
            id="fileInput"
            (change)="onFileChange($event)"
            class="form-control"
          />
        </div>

        <!-- Upload Button -->
        <button (click)="uploadFile()" class="btn">Upload Document</button>

        <!-- View Documents Button -->
        <button (click)="viewQuestionBank()" class="btn btn-primary">
          View Documents
        </button>

        <!-- Modal for Viewing Documents -->
        <div *ngIf="showModal" class="modal-overlay">
          <div class="modal-content">
            <span (click)="closeModal()" class="close">&times;</span>
            <h3>Attendance Documents</h3>

            <div
              style="
                display: flex;
                justify-content: space-around;
                flex-direction: column;
              "
            >
              <!-- Semester Dropdown inside Modal -->
              <div class="form-group">
                <label for="semesterModal">Select Semester:</label>
                <select
                  [(ngModel)]="selectedSemesterInModal"
                  name="semesterModal"
                  id="semesterModal"
                  class="form-control"
                  (change)="getFileQuery()"
                >
                  <option value="" disabled selected>Select Semester</option>
                  <option *ngFor="let sem of semesters" [value]="sem">
                    {{ sem }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="monthModal">Select Month:</label>
                <select
                  [(ngModel)]="selectedMonthInModal"
                  name="monthModal"
                  id="monthModal"
                  class="form-control"
                  (change)="getFileQuery()"
                >
                  <option value="" disabled>Select Month</option>
                  <option *ngFor="let month of months" [value]="month">
                    {{ month }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="subjectModal">Select Subject:</label>
                <select
                  [(ngModel)]="selectedSubjectInModal"
                  name="subjectModal"
                  id="subjectModal"
                  class="form-control"
                  (change)="getFileQuery()"
                >
                  <option value="" disabled>Select Subject</option>
                  <option *ngFor="let sub of subjectsInModal" [value]="sub">
                    {{ sub }}
                  </option>
                </select>
              </div>
            </div>

            <!-- Display Documents in Table -->
            <table class="table">
              <thead>
                <tr>
                  <th>Attendance Document Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doc of questionBankDocuments">
                  <td>{{ doc.fileName }}</td>
                  <td
                    style="
                      display: flex;
                      justify-content: start;
                      flex-direction: column;
                    "
                  >
                    <!-- <a (click)="openFile(doc)" href="#">Open</a> | -->
                    <!-- <a [href]="getDownloadLink(doc.semester, doc.fileName)" target="_blank">Download</a>  -->
                    <a
                      [href]="getDownloadLink(doc.semester, doc.fileName)"
                      download
                      >Download Document</a
                    >
                    <div
                      class="delete"
                      (click)="deleteFile(doc.semester, doc.fileName)"
                    >
                      Delete Document
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
