<div class="container-fluid">
  <div class="row no-gutters">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" id="sidebarMenu">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a routerLink="/home" routerLinkActive="active" (click)="home()" class="nav-link text-white">
              <i class="bi bi-house mr-2"></i> Home
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/time-table" routerLinkActive="active" (click)="timetable()" class="nav-link text-white">
              <i class="bi bi-calendar3 mr-2"></i> Time Table
            </a>
          </li>
          <li class="nav-item mb-3">
              <a routerLink="/staff-management" routerLinkActive="active" (click)="staffmanagement()" class="nav-link text-white">
                <i class="bi bi-person-fill mr-2"></i> Staff Management
              </a>
            </li>
          <li class="nav-item mb-3">
            <a routerLink="/students-management" routerLinkActive="active" (click)="studentsmanagement()" class="nav-link text-white">
              <i class="bi bi-person-workspace mr-2"></i> Students Management
            </a>
          </li>
          
          <li class="nav-item mb-3">
            <a routerLink="/attendance-management" routerLinkActive="active" (click)="attendancemanagement()" class="nav-link text-white">
              <i class="bi bi-check-square mr-2"></i> Attendance Management
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/question-bank" routerLinkActive="active" (click)="questionbank()" class="nav-link text-white">
              <i class="bi bi-book mr-2"></i> Question Bank
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/ia-module" routerLinkActive="active" (click)="iamodule()" class="nav-link text-white">
              <i class="bi bi-card-list mr-2"></i> IA Module
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/feedback-system" routerLinkActive="active" (click)="feedbacksystem()" class="nav-link text-white">
              <i class="bi bi-chat-dots mr-2"></i> Feedback System
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/lesson-plan" routerLinkActive="active" (click)="lessonplan()" class="nav-link text-white">
              <i class="bi bi-file-earmark-text mr-2"></i> Lesson Plan
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/teaching-aids" routerLinkActive="active" (click)="teachingaids()" class="nav-link text-white">
              <i class="bi bi-easel mr-2"></i> Teaching Aids
            </a>
          </li>
          <li class="nav-item mb-3">
            <a routerLink="/personal-documents" routerLinkActive="active" (click)="personaldocuments()" class="nav-link text-white">
              <i class="bi bi-folder mr-2"></i> Personal Documents
            </a>
          </li>
          <li class="nav-item mb-3">
            <a (click)="logout()" class="nav-link text-white">
              <i class="bi bi-box-arrow-right mr-2"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>

   

    <main class="col-md-9 col-lg-10 px-4 pt-4">
      <!-- <div class="text-center"> -->
        <div class="registration-card">
          <h2>STAFF REGISTER FORM</h2>
          <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
            
            <div class="form-group-row" style="display: flex; gap: 10px; align-items: center;">
              <div class="form-group" style="flex: 1;">
                <label for="staffName">Staff Name:</label>
                <input type="text" id="staffName" name="staffName" [(ngModel)]="staff.staffName" class="form-control" required #staffName="ngModel">
                <div *ngIf="staffName.invalid && (staffName.dirty || staffName.touched)" class="error">
                  Staff Name is required.
                </div>
              </div>
              <div class="form-group" style="flex: 1;">
                <label for="adharno">Adhar No:</label>
                <input type="text" id="adharno" name="adharno" [(ngModel)]="staff.adharno" class="form-control" required #adharno="ngModel">
                <div *ngIf="adharno.invalid && (adharno.dirty || adharno.touched)" class="error">
                  Adhar No is required.
                </div>
              </div>
            </div>
    
          
            <div class="form-group-row" style="display: flex; gap: 10px; align-items: center;">
              <div class="form-group" style="flex: 1;">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="staff.email" class="form-control" required #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                  Email is required.
                </div>
              </div>
              <div class="form-group" style="flex: 1;">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="staff.password" required #password="ngModel" class="ng-dirty ng-valid ng-touched" autocomplete="current-password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
                    Password is required.
                </div>
            </div>
          </div>

          <div class="form-group-row" style="display: flex; gap: 10px; align-items: center;">
              <div class="form-group" style="flex: 1;">
                <label for="phoneno">Phone No:</label>
                <input type="text" id="phoneno" name="phoneno" [(ngModel)]="staff.phoneno" class="form-control" required #phoneno="ngModel">
                <div *ngIf="phoneno.invalid && (phoneno.dirty || phoneno.touched)" class="error">
                  Phone No is required.
                </div>
              </div>
              <div class="form-group" style="flex: 1;">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" [(ngModel)]="staff.address" class="form-control" required #address="ngModel">
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error">
                  Address is required.
                </div>
              </div>
            </div>
    
            <div class="form-group-row" style="display: flex; gap: 10px; align-items: center;">
              <div class="form-group" style="flex: 1;">
                <label for="sslcMarksCard">Upload SSLC Marks Card:</label>
                <input type="file" id="sslcMarksCard" name="sslcMarksCard" class="form-control" (change)="onFileSelectSSLC($event)" required>
              </div>
              <div class="form-group" style="flex: 1;">
                <label for="beMarksCard">Upload BE Marks Card:</label>
                <input type="file" id="beMarksCard" name="beMarksCard" class="form-control" (change)="onFileSelectBE($event)" required>
              </div>
            </div>
    
            <div class="form-group-row" style="display: flex; gap: 10px; align-items: center;">
              <div class="form-group" style="flex: 1;">
                <label for="degreeCertificate">Upload Degree Certificate:</label>
                <input type="file" id="degreeCertificate" name="degreeCertificate" class="form-control" (change)="onFileSelectDegree($event)" required>
              </div>
              <div class="form-group" style="flex: 1;">
                <label for="photo">Upload Photo:</label>
                <input type="file" id="photo" name="photo" class="form-control" (change)="onFileSelectPhoto($event)" required>
              </div>
            </div>
    
           
            <div class="form-row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Register</button>
              </div>
            </div>
          </form>
    
          
        <!-- </div> -->
      </div>
    </main>
    
    
  </div>
</div>




