<!-- <div class="change-password-container">
    <h2>Change Password</h2>
    <form (ngSubmit)="onChangePasswordSubmit()">
      <div>
        <label for="changeEmail">Email:</label>
        <input type="email" id="changeEmail" [(ngModel)]="changePasswordData.email" name="changeEmail" required />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="changePasswordData.password" name="newPassword" required />
      </div>
      <button type="submit">Change Password</button>
      <button type="button" (click)="navigateToLogin()">Cancel</button>
    </form>
  </div>
   -->
   <div class="change-password-container">
    <h2>Change Password</h2>
    <form (ngSubmit)="onChangePasswordSubmit()">
      <div>
        <label for="changeEmail">Email:</label>
        <input type="email" id="changeEmail" [(ngModel)]="changePasswordData.email" name="changeEmail" required />
      </div>
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" [(ngModel)]="changePasswordData.oldPassword" name="oldPassword" required />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="changePasswordData.newPassword" name="newPassword" required />
      </div>
      <button type="submit">Change Password</button>
      <button type="button" (click)="navigateToLogin()">Cancel</button>
    </form>
  </div>
  